* {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

html,body {
	color: #3e687e;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
	margin: 0;
	padding: 0;
}

.rules {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 20px;
	text-align: justify;
}

.container {
	width: calc(100%-4px);
	max-width: 1200px;
	margin: auto;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	display: flex;
}

nav{    
	display: flex;
	flex: 0 0 200px;
	z-index: 30;
	padding: 0;
}

aside {
	display: flex;
	flex-direction: column;
    border-left: 2px solid #3e687e;
    -moz-box-flex: 0;
    flex: 0 0 250px;
    box-sizing: border-box;
    width: 200px;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nav-item {
	border-right: 2px solid #3e687e;
}

.nav-item-selected, .nav-item {
	margin: auto;
	text-align: center;
	border-bottom: 2px solid #3e687e;
	height: 200px;
	position: relative;
}

.nav-item a img {
	width: 70%;
}

.nav-item-selected a img {
	width: 70%;
}

a {
	color: #3e687e;
	text-decoration: none;
}

.menu-text {
	display: block;
	font-size: xx-large;
	position: absolute;
    bottom: 0;
    width: 100%;
}

.rules-title {
	font-size: x-large;
	text-align: center;
	-webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
}

ol li { 
	margin:0 10px 10px 0; 
	vertical-align:top
}

ol {
	padding-left: 20px;
}

.new-and-search {
	display: -webkit-flex;
	display: flex;
	padding: 20px 30px 0px 30px; 
}

.new, .search {
	-webkit-flex: 1;
			flex: 1;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
    		align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
}

.new img, .search img {
	width: 50%;
}

.a-img {
	height: 170px;

  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.book-cover-image {
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
    		align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
}

.book-cover-container {
  display: inline-block;
   height: 100px;
  margin: 1em;
}

.content {
	display: flex;
	flex-grow: 1;
	padding: 20px;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.book {
	flex: 1 0 150px;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
}

.book form {
	position: absolute;
	background: white;
	border: 1px solid black;
	z-index: 1;
	display: none;
	padding: 4px;
	width: 160px;
	left:0;
	right:0;
	margin: auto;
}

.book:hover form {
	display: block;
}

.onhover-top {
	position: absolute;
	top: 0px;
	background: white;
	z-index: 1;
	width: calc(100% - 40px);
	display: none;
	opacity: 0.95;
	font-size: large;
	line-height: 1.0;
	padding-left: 20px;
	padding-right: 20px;
}

.book:hover .onhover-top {
	display: block;
}

.onhover-bottom {
	position: absolute;
	background: white;
	z-index: 1;
	opacity: 0.95;
	width: 100%;
	display: none;
	top: 200px;
	height: 30px;
}

.book:hover .onhover-bottom {
	display: block;
}

.onhover-bottom a img {
	position: relative;
	top: 2px;
}

.input-item {
	text-align: right;
}

.input-item input {
	width: 90px;
	margin: 2px;
}

.form-buttons button {
	margin-top: 4px;
}

.no-cover {
	width: 130px;
	height: 226px;
	background: #BDEAD4;
	display: inline-block;
	font-size: x-large;
	font-family: "Lucida Console";
	font-style: italic;
	padding-left: 5px;
	padding-right: 5px;
}

.author {
	position: relative;
	top: 40px;
}

.title {
	position: relative;
	top: 20px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        border: 0px;
    }

    nav ul {
    	display: flex;
    	width: 100%;
    	flex-direction: row;
    }

    nav {
    	width: 100%;
    }

    aside {
    	width: 100%;
    	flex-direction: row;
    	border-left: 0;
    	border-top: 2px solid #3e687e;
    	flex: 0 0 250px;
    }

    .new-and-search {
    	flex-direction: column;
    }

    .nav-item-selected {
		border-bottom: 0px;
	}

	.nav-item {
		border-left: 2px solid #3e687e;
	}

	.nav-item ~ .nav-item {
		border-left: none;
	}

	.nav-item, .nav-item-selected {
		margin: 0;
		height: 180px;
	}

	.a-img {
		height: 150px;
	}

	ul {
		justify-content: center;
	}

	.new-and-search {
		padding: 0px 20px 0px 20px;
		height: 190px;
	}

	.rules {
		padding-bottom: 5px;
		padding-top: 5px;
		height: 173px;
	}

	.content {
		padding-bottom: 0px;
		padding-top: 0px;
		margin-top: 187px;
		margin-bottom: 190px;
	}

	nav, aside {
		position: fixed;
		background-color: white;
	}

	aside {
		bottom: 0;
    	overflow: auto;
	}
}

@media only screen and (max-width: 600px) {
	nav, aside {
		position: static;
	}

	.content {
		margin: 0;
		padding-bottom: 10px;
	}

	aside {
		order: -1;
    	border-top: 0;
    	border-bottom: 2px solid #3e687e;
    	overflow:hidden;
		height:1%;
	}
}